@font-face {
  font-family: 'MyWebFont';
  src: url('../fonts/Odin Rounded.otf');

}

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.panel-body{
  background-color: #7fc232;
  font-family: 'MyWebFont';
  color: white;
  border-radius: 10px;
}

#form_text{
  color: black;
}

.nav-tabs {
  font-size: 1.5em;
  border-bottom: none;
  margin-bottom: 15px;
}

.admin-tabs li a {
  border-radius: 25px;
  color: #000;
}

.question-container{
  background-color: black;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 15px;
  height: 200px;
}

.question-buttons {
  position: absolute;
  font-size: 1.7em;
  top: 8px;
  right: 25px;
}

.question-buttons a {
  color: #FFF;
}

.question-p {
  width: 100%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: 2.2em;
  margin-top: 25px; 
}

.name-p {
  float: right;
  font-size: 2rem;
}

.details-div {
  width: 100%;
  overflow: hidden;
}

.details-p {
/*  text-align: right;*/
  font-size: 1.7rem;

  text-decoration:none;
  margin-top: 0em;
  text-align: center;
  display:inline-block; /* important */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  margin-left: 0em;
}

.details-div, 
.details-p {
  -webkit-transition: 3s;
  -moz-transition: 3s;
  transition: 3s;     

  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  transition-timing-function: linear;
}

.details-div:hover .details-p {
  margin-left: -300px;
}

.form-control{
  border-radius: 10px;
}

.btn-default{
  color: #7fc232;
}

.panel-success{
  border-radius: 10px;
}

.logo{
  width: 150px;
}
